.otoklix__postCard {
	height: 300px;
	width: 300px;
	margin-right: 20px;
}
.otoklix__postCard:hover {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media (max-width: 860px) {
	.otoklix__postCard {
		height: 200px;
		width: 200px;
	}
}
@media (max-width: 600px) {
	.otoklix__postCard {
		height: 200px;
		width: 200px;
	}
}
@media (max-width: 300px) {
	.otoklix__postCard {
		width: 70%;
	}
}
.otoklix__editDelete:hover {
	color: #002eb4;
	font-weight: bold;
	font-size: 18px;
}
