html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	scroll-behavior: smooth;
	max-width: 100%;
	overflow-x: hidden;
}
body {
	margin: 0;
	scroll-behavior: smooth;
	overscroll-behavior-x: contain;
	max-width: 100%;
	overflow-x: hidden;
}
.otoklix__pt10 {
	padding-top: 10px;
}
.otoklix__pr0 {
	padding-right: 0px;
}
.otoklix__pr10 {
	padding-right: 10px;
}
.otoklix__pr20 {
	padding-right: 20px;
}
.otoklix__pl20 {
	padding-left: 20px;
}
.otoklix__px10 {
	padding-left: 10px;
	padding-right: 10px;
}
.otoklix__mx10 {
	margin-right: 10px;
	margin-left: 10px;
}
.otoklix__mb10 {
	margin-bottom: 10px;
}
.otoklix__mb20 {
	margin-bottom: 20px;
}
.otoklix__mb30 {
	margin-bottom: 30px;
}
.otoklix__mlAuto {
	margin-left: auto;
}
.otoklix__mtAuto {
	margin-top: auto;
}
.otoklix__heightFull {
	height: 100vh;
}
.otoklix__height100Percent {
	height: 100%;
}
.otoklix__primaryText {
	color: #002eb4;
}
.otoklix__secondaryText {
	color: #000;
}
.otoklix__fontMedium {
	font-size: 16px;
}
.otoklix__bold {
	font-weight: bold;
}
.otoklix__flex {
	display: flex;
}
.otoklix__flexAround {
	justify-content: space-around;
}
.otoklix__flexColumn {
	flex-direction: column;
}
.otoklix__flexRow {
	flex-direction: row;
}
.otoklix__flexAlignStart {
	align-items: flex-start;
}
.otoklix__flexWrap {
	flex-wrap: wrap;
}
.otoklix__textAlignLeft {
	text-align: left;
}
.otoklix__pointer {
	cursor: pointer;
}
.otoklix__overflowHidden {
	overflow: hidden;
}
.otoklix__width90Percent {
	width: 90%;
}
.otoklix__wordBreak {
	word-break: break-all;
}
.otoklix__inputTitle {
	width: 300px;
	height: 50px;
}
.otoklix__inputContent {
	width: 90%;
	height: 300px;
}
@media (max-width: 460px) {
	.otoklix__inputTitle {
		width: 200px;
	}
	.otoklix__inputContent {
		width: 250px;
	}
}
@media (max-width: 350px) {
	.otoklix__inputTitle {
		width: 95%;
	}
	.otoklix__inputContent {
		width: 95%;
	}
}
.otoklix__submitButton {
	background-color: #002eb4;
	color: #fff;
}
.otoklix__loadingCenter {
	width: 50px;
	height: 50px;
	border: solid 5px #ccc;
	border-top-color: #002eb4;
	border-radius: 100px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 999;
	overflow: show;
	bottom: 0;
	margin: auto;
	animation: otoklix__loadCircle 2s linear infinite;
}

@keyframes otoklix__loadCircle {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (max-width: 300px) {
	.row {
		flex-wrap: nowrap;
	}
}
