.otoklix__titleSidebar {
	background-color: #2b2b2b;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.otoklix__menuSidebar {
	color: #000;
	height: 100vh;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 20px;
}
.otoklix__activeButton:hover {
	color: #fe4500;
}
.otoklix__sidebarCustomText {
	font-size: 16px;
	font-weight: bold;
	text-align: left;
}
@media (max-width: 600px) {
	.otoklix__titleSidebar {
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 5px;
	}
	.otoklix__menuSidebar {
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 5px;
	}
}
@media (max-width: 460px) {
	.otoklix__sidebarCustomText {
		font-size: 13px;
	}
}
.otoklix__sidebarBackground {
	background-color: #cfcfcf;
}
